#title {
	width: 200px;
	padding: 20px;
	position: fixed;
	margin-left: 400px;
	background-color: gray;
	height: 100%;
	float: right;
	margin-top: -30px;
}
.body {
	position: absolute;
	padding-left: 40px;
}