body {
	bottom: 400px;
	color: white;
}

#one {
	display: block;
	float:left;
}
#two{
	display: block;
	float: right;
}
#three{
	display: block;
	float: left;
}
#four{
	display: block;
	float: right;
}
#five{
	display: block;
	float: left;
}
div {
	margin: 50px;
}
h2 {
	position: fixed;
}
h4 {
	position: absolute;
}
* {
	border: 7px dashed silver;
	background-color: maroon;
	padding: 5px;
}
h3 {
	border: 2px dashed silver;
	font-family: impact;
}
h5 {
	padding: 20px;
	margin: 15px;
}
h1 {
	text-transform: uppercase;
}
em {
	position: fixed;
}